{{#paper-card as |card|}}
  {{#paper-toolbar as |toolbar|}}
    {{#toolbar.tools}}
      <h2>About</h2>
    {{/toolbar.tools}}
  {{/paper-toolbar}}
  {{#card.content}}
    <h3>FAQ</h3>
    <h4>What is Dyeus?</h4>
    <p>
      Dyeus is an open source platform for gathering and displaying sensory data and making recommendations based on
      preset rules.<br>
      It is named after the chief deity in the religious traditions of the prehistoric Proto-Indo-European societies.
      (see <a href="https://en.wikipedia.org/wiki/Dyeus">Wikipedia</a>)
    </p>
    <h4>What is the current development status of Dyeus?</h4>
    <p>
      Dyeus is still in development. In terms of features it's in alpha.<br>
      The API is not stable yet.
    </p>
    <h4>Can I use Dyeus?</h4>
    <p>
      Yes! Dyeus is GPL licensed. Check out the source on
      <a href="https://github.com/piotrb5e3/Dyeus">
        Github
      </a>
    </p>
    <h4>I want feature X!</h4>
    <p>
      Dyeus is an after-hours project for me. You are welcome to help by submitting pull requests,
      reporting bugs and pestering me about new features.<br>
      You can contact me at <a href="mailto:piotrb5e3@gmail.com">piotrb5e3@gmail.com</a>
    </p>
    <h3>API</h3>
    <h4>Token authentication</h4>
    <p>SmartToaster appliance with token <code>8gbbVEnuLlCJgUWHxraNcBxtHMte7zjqhKdb4mlGLA0=</code> and 3 sensors:</p>
    <ol>
      <li>ToastTemp, reading: 40.34&#176;C, code:
        <code>toastt</code>
      </li>
      <li>AmbientTemp, reading: 17.52&#176;C, code:
        <code>ambientt</code>
      </li>
      <li>ToastHumidity, reading: 30%, code:
        <code>toasth</code>
      </li>
    </ol>
    <p>
      Endpoint location: <code>https://0bit.pw/dyeus/api/collect/token/</code><br>
      Payload:
    </p>
    <pre>{
  "id": 1337,
  "token": "8gbbVEnuLlCJgUWHxraNcBxtHMte7zjqhKdb4mlGLA0=",
  "sensors": {
    "toastt": "40.34",
    "ambientt": "17.52",
    "toasth": "30"
  },
  "timestamp": "2017-01-10T10:10:10"
}</pre>
    <h4>SHA-256 HMAC authentication</h4>
    <p>SmartToaster appliance with base64 encoded secret key
      <code>YWFhYWFhYWFhYWFhYWFhYWJiYmJiYmJiYmJiYmJiYmI=</code>, id <code>1337</code>
      and 3 sensors:</p>
    <ol>
      <li>ToastTemp, reading: 40.34&#176;C, code:
        <code>toastt</code>
      </li>
      <li>AmbientTemp, reading: 17.52&#176;C, code:
        <code>ambientt</code>
      </li>
      <li>ToastHumidity, reading: 30%, code:
        <code>toasth</code>
      </li>
    </ol>
    <p>
      Endpoint location: <code>https://0bit.pw/dyeus/api/collect/sha-hmac/</code><br>
      Payload:
    </p>
    <pre>{
  "id": 1337,
  "data":"toastt=40.34,ambientt=17.52,toasth=30,2017-01-10T10:10:10",
  "mac":"jdAM199x9F9gamVxXYD2rhpXltuziiz/3ylork6cD0c="
}</pre>
    <p><code>mac</code> is the base64 encoded SHA-256 HMAC of
      <code>data</code> with the shared secret key.<br></p>
  {{/card.content}}
{{/paper-card}}
{{outlet}}