{{#paper-sidenav-container class="inner-sidenav"}}
  {{#paper-sidenav
    class="md-whiteframe-z2"
    name="left2"
    lockedOpen=true}}
    {{#paper-toolbar as |toolbar|}}
      {{#paper-toolbar-tools}}Dyeus{{/paper-toolbar-tools}}
    {{/paper-toolbar}}
    {{#paper-content}}
      {{#paper-list}}
        {{#paper-item onClick=(action "goToRoute" "about")}}
          About
        {{/paper-item}}

        {{#if session.isAuthenticated}}
          {{#paper-item onClick=(action "goToRoute" "appliances")}}
            Appliances
          {{/paper-item}}
          {{#paper-item onClick=(action "logout")}}
            Log out
          {{/paper-item}}
        {{else}}
          {{#paper-item onClick=(action "goToRoute" "login")}}
            Log in
          {{/paper-item}}
        {{/if}}
      {{/paper-list}}
    {{/paper-content}}
  {{/paper-sidenav}}

  {{#paper-card-content class="flex"}}
    <div class="layout-fill layout-column">
      {{outlet}}
    </div>
  {{/paper-card-content}}

{{/paper-sidenav-container}}
