{{#paper-list}}
    {{#each model as |appliance|}}
        {{#paper-item
                onClick=(action "goToAppliance" appliance)}}
            <p>
                {{paper-icon "expand-more"}}
                {{appliance.name}}
            </p>
        {{/paper-item}}
    {{else}}
        {{#paper-item as |controls|}}
            <p>You have no appliances.
                {{#link-to "appliances.new"}}
                    Create your first appliance.
                {{/link-to}}</p>
        {{/paper-item}}
    {{/each}}
{{/paper-list}}
{{outlet}}
